build
.DS_Store
Encrypter/Encrypter.xcodeproj/project.xcworkspace/xcuserdata/marco.xcuserdatad/UserInterfaceState.xcuserstate
project.xcworkspace/xcshareddata/
project.xcworkspace/xcuserdata/
xcuserdata/
DerivedData/

